.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;

  background-color: #17252a;
  width: 600px;
  height: 580px;

  padding: 15px;
}

.title {
  margin-bottom: 50px;
  color: #17252a;
  font-size: 50px;
}

.word-lit {
  padding: 20px;
  color: #ececec;
  font-size: 38px;
}

.word-gray {
  padding: 20px;
  color: #373a3a;
  font-size: 38px;
}